/* variables */
$fira: 'Fira Sans', sans-serif;
$rale: 'Raleway', sans-serif;
$phone-color: #3088f4;

body {
	font-family: $rale;
	background-color: #ffffff;
	height: 100vh;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
	font-weight: 100;
}
input, button, textarea{
	border: none;
	outline: none;
	&:focus, &:active{
		border: none;
		outline: none;
	}
	&:hover{
		cursor: pointer;
	}
}
a{
	text-decoration: none;
	cursor: default;
	&:active, &:hover, &:visited {
		text-decoration: none;
	}
	& > img {
		cursor: pointer;		
	}
}
#app{
}
.greeting{
	max-width: 900px;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin: 30px auto 0;
	color: red;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(147,147,147,1);
	-moz-box-shadow: 0px 0px 20px 10px rgba(147,147,147,1);
	box-shadow: 0px 0px 20px 10px rgba(147,147,147,1);
	margin-bottom: 40px;
	position: relative;
}
.greetng__item{
	width: 50%;
	height: 622px;
}
.greetng__item_right{
	background-image: linear-gradient(325deg, #30e8bd, #3088f4);
	padding: 30px 25px 0;
	color: #ffffff;
	h1{
		font-size: 36px;
		line-height: 54px;
		margin: 0;
		padding-right: 60px;
	}
	p{
		font-family: $fira;
		font-size: 16px;
		line-height: 21px;
		margin-bottom: 60px;
	}
}
.greetng__item__logo {
	text-align: center;
}
.big_logo_singin {
  max-width: 260px;
  max-height: 260px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.greetng__item_left{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	padding-bottom: 20px;
}
.small_logo_signin{
	display: block;
	font-size: 0;
}
.greetng__item__form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 260px;
	margin: 0 auto;
}
.greetng__item__form__item {
	position: relative;
	height: 45px;
	margin-bottom: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.greetng__item__form__hint{
	font-size: 10px;
	line-height: 15px;	
	color: #999999;
	position: absolute;
	top: 5px;
	left: 5px;
	transition: all 200ms ease-out;
}
.greetng__item__form__input{
	font-family: $fira;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: left;
	color: #3c3c3c;
	display: block;
	width: 100%;
	border-bottom: 2px solid #cccccc;
	transition: all 180ms ease-out;
	position: relative;
	background-color: transparent;
	cursor: default;
	&:focus {
		border-bottom: 2px solid #3088f4;
		transition: all 180ms ease-out;
		& + .greetng__item__form__hint{
			transition: all 200ms ease-out;
			color: #3088f4;
		}
	};
}
.greetng__item__form__button{
	text-transform: uppercase;
	width: 100%;
	height: 40px;
	border-radius: 100px;
	background-color: #3088f4;
	border: solid 2px #3088f4;
	font-family: $fira;
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 2px;
	text-align: center;
	color: #ffffff;
	margin: 20px 0 15px;
}
.link-out{
	display: block;
  text-align: center;
  height: 21px;
  font-family: $fira;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #3c3c3c;
  cursor: pointer;
}
.foot-block{
	font-family: $fira;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: baseline;
	&__text{
		display: block;
		font-size: 10px;
		line-height: 1.5;
		font-family: $fira;
		color: #999999;
		padding-right: 2px;
	}
	&__phone{
		display: block;
		font-size: 15px;
		line-height: 1.07;
		color: #3088f4;
		cursor: pointer;
	}
}
.restore-pass{
	position: absolute;
	top: initial;
	left: initial;
	right: 0;
	bottom: 5px;
	text-align: right;
	width: 70px;
	cursor: pointer;
}
.success-registr-block{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #30e8bd;
	opacity: 0.9;
	color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 5;
}
.success-registr-block__text{
	font-size: 40px;
	font-weight: bold;
}
.succes-registr-enter-active {
  transition: all .3s ease;
}
.succes-registr-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.succes-registr-enter, .succes-registr-leave-to
/* .slide-leave-active до версии 2.1.8 */ {
  transform: rotate(360deg);
  opacity: 0;
}
.cabinet{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	height: 100vh;
}
.cabinet__items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
}
.cabinet__item{
	width: 160px;
	height: 192px;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(89, 159, 246, 0.3);
	overflow: hidden;
	font-family: $fira;
	margin: 10px;
	cursor: pointer;
	position: relative;
	z-index: 5;
	display: block;
	&:hover{
		& > .cabinet__item__image{
			transform: scale(1.2);
			transition: all 150ms ease-out;
		}
	}
	&:active{
		& > .cabinet__item__image{
			transform: scale(1);
			transition: all 150ms ease-out;
		}
	}
}
.cabinet__item__image{
	height: 95px;
	overflow: hidden;
	text-align: center;
	transition: all 150ms ease-out;
	img{
		height: 100%;
	}
}
.divider{
	height: 15px;
	background-color: #fff;
	position: relative;
	z-index: 50;
	font-size: 0;
	line-height: 0;
}
.cabinet__item__title{
	text-align: center;
	height: 21px;
	font-size: 18px;
	line-height: 1.17;
	color: #3c3c3c;
	margin-bottom: 10px;
	padding: 0 10px;
}
.cabinet__item__description{
  height: 36px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #999999;
}
.message{
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color: orange;
	position: absolute;
	left: 100%;
	width: 100%;
	white-space:nowrap; 
	bottom: 7px;
}
.message_from_rest{
	right: auto;
	left: 0;
	bottom: -17px;
}
